.container {
  padding: 24px;
}

/* Títulos */
.title {
  font-size: 1.25rem; /* text-xl */
  font-weight: bold;
  margin-bottom: 16px;
}

/* Buscadores */
.searchContainer {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.searchInput {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  width: 12%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  table-layout: fixed; /* mantiene columnas alineadas */
}

.table th,
.table td {
  padding: 12px 10px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  vertical-align: middle;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
  max-width: 200px;
}

.table td{
  white-space: normal;   /* permite saltos de línea */
  word-wrap: break-word; /* fuerza corte si es muy largo */
  max-width: 200px;      /* limita ancho de columnas de texto */
}

.table tbody {
  display: table-row-group; /* 🔹 vuelve al comportamiento normal */
}

.table thead {
  background-color: #f9fafb;
  position: sticky; /* opcional: encabezado fijo */
  top: 0;
  z-index: 1;
}

.table tr:hover {
  background-color: #f3f4f6; /* efecto hover */
}

.table td.actions {
  text-align: center;
  vertical-align: middle; /* centra el contenedor verticalmente */
  border: none;
}

.records{
  text-align: "center";
  padding: "20px";
  width: "100%"
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;  /* centra vertical */
  margin-left: 2.5rem;
  width: 50%;
  height: 50%;             /* ocupa toda la celda */
  min-height: 100px;         /* 👈 asegura altura mínima */
}

.editBtn {
  background-color: #00304D;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.editBtn:hover {
  background-color: #001B36;
}

.deleteBtn {
  background-color: #FF0000;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.deleteBtn:hover {
  background-color: #DA1414;
}

.docLink {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.docLink:hover {
  color: #0056b3;
}

.alerta {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0) scale(0.9);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  color: #ffffff;
  padding: 15px 10px;
  border-radius: 6px;
}

.alerta.visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}

.success {
  background-color: #00304D;
}

.error {
  background-color: #F44336;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

